body{
    font-family: Arial, Verdana;
    background-color:  #000;
    color:#fff;
    margin-top: 20px;
    margin-right:20px;
    margin-left: 20px;
    margin-bottom:0px;
}

h1{
 font-size: 42px;
 text-align: center;
 padding: 15px;
}

h2{
    font-size:30px;
    color:#0D0D0D;
}
p{
    font-size:24px;
    padding-top:10px;
    padding-left:10px;
}
img{
    width: 250px;
    border: white 10px dashed;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

div{
    padding: 20px;
    border: white 3px solid;
    min-height: 125px;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height:2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left:50px;
    border:none;
    border-bottom: #fff 2px solid;
    border-left: #fff solid 5px;
}
.blue{
    background-color: #00f;
    text-align: left;
    margin-right: 50px;
    border:none;
    border-top: #fff 2px solid;
    border-right: #fff 5px solid;
}

.blue p, .blue h2{
    color: #c4c4c4;
}

.yellow{
    background-color: #ff0;
    text-align: right;
    margin-left: 50px;
    border:none;
    border-bottom: #fff 2px solid;
    border-left: #fff 5px solid;
}

.yellow p{
    color:#707070
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border: none;
    border-right: #fff 5px solid;
    border-top: #fff 2px solid;
}

footer{
    border: 5px solid white;
    background:#000;
    background: linear-gradient(90deg, #000 0%, #00f 25%, #06f 70%, #000 100%)
}

footer p{
    text-align:right;
    font-size:20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-left: 0px;
}




   

